/* Transición suave al cargar la página */
body {
    animation: fadeIn 0.5s ease-in-out;
}

main {
    margin-left: 288px;
    transition: margin-left 0.3s ease-in-out;
}

body.sidebar-collapsed main {
    margin-left: 80px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Estilo para los inputs cuando están enfocados */
input:focus {
    transform: translateY(-2px);
}
